<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <% include partials/head %>
        <title>
            <%= title %>
        </title>
</head>

<body class="container">



    <% include partials/header %>

        <% if(entries.length) { %>
            <%  entries.forEach(function(entry) { %>
                <div class="panel panel-primary">
                    <div class=" anel panel-primary panel-heading">
                        <%= entry.title %>
                    </div>
                    <div class=" panel panel-primary float-right">
                        <%=  entry.pubished %>
                    </div>
                   
                    <div class="panel panel-body">
                        <%=  entry.content %>
                    </div>
               
                </div>
                <%  }) %>
                    <% } else { %>
                        <p>No existen entradas</p>
                        <% } %>

</body>

</html>